.flex-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    padding: 0 2rem;
}

.image-container {
    position: relative;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6rem;
    overflow: hidden;
}

.image {
    width: 35rem;
    border-radius: 6rem;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}

.image-container:hover .image img {
    opacity: 1;
}

.photo,
.video {
    position: absolute;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.video {
    top: 9rem;
    left: -1rem;
}

.photo {
    top: 18rem;
    right: -2rem;
}

.video > * {
    transform: translateX(2rem);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 1;
}

.photo > * {
    transform: translateX(-2rem);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 1;
}

.image-container:hover .video > *,
.image-container:hover .photo > * {
    transform: translateX(0);
    opacity: 0;
}

.title1 {
    font-family: 'Monument', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 2re,;
    font-weight: bold;
}